body{
    background-image: url('./imgs/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div > .gear-icon{
    margin-bottom: 5px;
}

dl{
    padding-top: 10px;
}

figcaption{
    text-align: center;
}

figure{
    margin: 0 5px 0 5px;
}

header{
    background-color: #303030;
}

footer{
    display: flex;
    justify-content: center;
    height: 3vh;
    max-height: 3vh;
}

td > a:hover{
    text-decoration: none;
}

.admin{
    color: indianred;
}

.avatar{
    max-width: 96px;
    max-height: 96px;
    border: 1px solid  grey;
    border-radius: 5px;
}

.ban{
    margin-bottom: 10px;
}

.banned{
    color: lightgray;
    text-decoration: line-through;
}

.breadcrumb{
    background: none;
}

.breadcrumb-item > a:hover{
    text-decoration: none;
}

.btn-crud-forum{
    position: absolute;
    left: 950px;
}

.btn-danger{
    background-color: #DE5A49;
    border-color: #DE5A49;
}

.btn-danger:hover{
    background-color: #912113;
    border-color: #912113;
}

.char-card{
    width: 1024px;
    border: 1px silver solid;
    border-radius: 10px;
    display: flex;
}

.char-gear{
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.char-pic{
    width: 260px;
    height: auto;
    margin: 1vh 1vh 1vh 1vh;
    border: 1px solid silver;
    border-radius: 10px;
}

.char-title{
    margin: 1vh 0 0 1vw;
}

.classes{
    margin: 1vh 1vw 1vh 1vw;
}

.current-job{
    margin-left: 2vw;
    text-align: center;
}

.event{
    width: 15vw;
    margin: 10px 1vw 0 1vw;

}

.event-table{
    margin: 0 2vw 0 1vw;
}

.forum-dd{
    margin-left: 5px;
}

.forum-infos{
    border-radius: 5px;
    height: 100%;
    background-color: #303030;
}

.gear{
    margin-top: 25px;
}

.gear-icon{
    max-width: 50px;
}

.header_logo{
    max-height: 5vh;
}

.job-icon{
    max-width: 50px;
    max-height: 50px;
}

.margin-auto{
    margin: auto;
}

.margin-1vw{
    margin-left: 1vw;
    margin-right: 1vw;
}

.member{
    color: mediumpurple;
}

.message-forum{
    position: relative;
    width: 800px;
    padding: 2vh 1vw 2vh 1vw;
}

.modo{
    color: cornflowerblue;
}

.new-mes{
    max-width: 50%;
}

.new-mes > form{
    display: flex;
    flex-direction: column;
}

.new-topic{
    font-size: 2rem;
}

.notif{
    color: #00BC8C;
}

.post-forum{
    background-color: #474747;
    margin: 0 1vw 1vw 1vw;
    border: 1px solid #49DE94;
    border-radius: 5px;
}

.raid{
    max-width: 20rem;
}

.raids{
    max-width: 50%;
    right: 1vw;
    top: 10vh;
    padding: 1vh 1vw 1vh 1vw;
    border: 1px solid gray;
    margin: auto;
}

.slick-slide{
    margin: 0 1vw 0 1vw;
}

.username{
    margin: 5px;
}

.username:hover{
    text-decoration: none;
}

#app{
    flex: 1;
    background-color: #303030;
    padding: 0 1vw 0 1vw;

}

#cke_wysiwyg{
    position: relative;
    left: 13vw;
}

#container{
    max-width: 1280px;
    min-height: 100vh;
    border-left: 1px solid gray;
    border-right: 1px solid grey;
    display: flex;
    flex-direction: column;
}

#footer{
    background-color: #303030;
}

#logout-form{
    display: none;
}

@media screen and (max-width: 768px){

}
